@page "/backups"
@rendermode InteractiveWebAssembly

<PageTitle>Backups</PageTitle>

<Card>
    <CardHeader>
        <CardTitle>Choose Provider</CardTitle>
        <CardDescription>Select a provider to configure backups and monitor status.</CardDescription>
    </CardHeader>
    <CardContent>
        <div>
            <Button><a href="/backups/github">GitHub</a></Button>
            <Button><a href="/backups/gitlab">GitLab</a></Button>
            <Button><a href="/backups/forgejo">Forgejo</a></Button>
        </div>
    </CardContent>
</Card>
